__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.venv/
venv/
env/

*.log
runs/
results/
outputs/
checkpoints/
wandb/
mlruns/

*.DATA
*.INIT
*.UNRST
*.SMSPEC
*.EGRID
*.GRID
*.RFT
*.PRT
*.DBG

*.pem
*.key
*.env
.env
.DS_Store
